.section_activities h2{
    margin-top: 0px;
}
.activity a{
    text-decoration: none;
}
.activity a{
    font-size: 18px;
}

.activity a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.activity p{
    padding-left: 5%;
}

.activity a:hover{
    color:#0065fc;
    transition: color .3s;
}

.section_activities{
    margin-top: 3%;
    margin-bottom: 8%;
}


.activity{
    display: grid;
    grid-template-columns: 23% 23% 23% 23%;
    grid-template-rows: 200px 100px 200px;
    column-gap: 2.67%;
    row-gap: 20px;
}

.activity_1, .activity_4{
    grid-row-end: span 4;
}

.activity_2{
    grid-column-start: 2;
    grid-row-start: 1;
    grid-row-end: span 2;
}

.activity_3{
    grid-column-start: 2;
    grid-row-start: 3;
    grid-row-end: span 2;
}
.activity_5{
    grid-column-start: 4;
    grid-row-start: 1;
}

.activity_6{
    grid-column-start: 4;
    grid-row-start: 2;
    grid-row-end: span 3;
}

.activity a{
    background-color:white;
    border-radius: 15px;
    box-shadow: 5px 5px 5px rgb(168, 168, 168);
}


.image_activity_1, .image_activity_4{
    height: 520px;
    border-radius: 15px 15px 0px 0px;
}

.image_activity_2{
    height: 260px;
    border-radius: 15px 15px 0px 0px;
}

.image_activity_3{
    height: 180px;
    border-radius: 15px 15px 0px 0px;
}

.image_activity_5{
    height: 140px;
    border-radius: 15px 15px 0px 0px;
}

.image_activity_6{
    height: 300px;
    border-radius: 15px 15px 0px 0px;
}

.image_activity_1, .image_activity_2, .image_activity_3, .image_activity_4, .image_activity_5, .image_activity_6{
    position: relative;
    overflow: hidden;
}

 .image_activity_1 img, .image_activity_2 img, .image_activity_3 img, .image_activity_4 img, .image_activity_5 img, .image_activity_6 img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
    max-height: 150%;
    max-width: 150%;
}

.activity a:hover {
    transform: scale(1.05);
    box-shadow: 8px 8px 8px 0px rgba(0,0,0,0.24), 8px 8px 8px 0px rgba(0,0,0,0.19);
}
.activity a{
    transition: .3s;
 }



@media screen and (max-width: 767px){

    .activity{
        display: flex;
        flex-wrap: wrap;
        row-gap: 50px;
    }

    .activity_1, .activity_2, .activity_3, .activity_4, .activity_5, .activity_6{
        width: 100%;
    }
    .image_activity_1,.image_activity_2,.image_activity_3,.image_activity_4,.image_activity_5,.image_activity_6{
        height: 250px;
    }

 }



 @media screen and (min-width: 768px) and (max-width: 992px){


   .activity{
        display: flex;
        flex-wrap: wrap;
        row-gap: 30px;
        column-gap: 65px;
        margin-right: 0px;
    }

    .activity_1, .activity_2, .activity_3, .activity_4, .activity_5, .activity_6{
        width: 45%;
    }
    .image_activity_1,.image_activity_2,.image_activity_3,.image_activity_4,.image_activity_5,.image_activity_6{
        height: 220px;
    }

 }

 @media screen and (min-width: 993px) and (max-width: 1170px){


    .activity{
        display   : flex;
        flex-wrap : wrap;
        row-gap   : 30px;
        column-gap: 110px;
        margin-right: 0px;
    }

    .activity_1, .activity_2, .activity_3, .activity_4, .activity_5, .activity_6{
        width: 25%;
    }
    .image_activity_1,.image_activity_2,.image_activity_3,.image_activity_4,.image_activity_5,.image_activity_6{
        height: 200px;
    }
}