
#banniere h1{
    font-size: 25px;
}

#banniere h2{
    font-size: 15px;
    font-weight: 400px;
    color: rgb(92, 91, 91);
}

#banniere h2, #banniere h1{
    margin: 8px 0px 0px 0px;
}

.champ_recherche img{
    position: relative;
    border: 1px solid rgb(173, 173, 173);
    height: 18px;
    width: 14px;
    padding: 14px;
    border-radius: 15px 0px 0px 15px;
    background-color: rgba(206, 206, 206, 0.884);
}

.button{
    background:url(Image/0065fc.png);
    text-align: center;
    vertical-align: middle;
    color: white;
    padding: 15px;
    font-weight: 600;
    border-radius: 0px 15px 15px 0px;  
    text-decoration: none;
    font-size: 0.85em;
}

input{
    font-weight: bold;
    font-size: 15px;
    padding-left: 10px;
    border: 1px solid rgb(173, 173, 173)
}
.champ_recherche{
    display: flex;
    margin-top: 10px;
}

.filtre{
    display: flex;
    font-size: 16px;
    font-weight: bold;
    padding-top: 20px;
    margin: 0px;
    grid-gap: 30px;
}

.filtre_0 a:hover{
    color: grey;
}

.filtre_1:hover, .filtre_2:hover, .filtre_3:hover, .filtre_4:hover{
    background-color: #DEEBFF;
}

.filtre_icone{
    display: flex;
    grid-gap: 10px;
}


.filtre_icone a, .filtre_0 a{
    vertical-align: middle;
    padding-top: 10px;
    text-decoration: none;
    color: black;
}

.filtre_1, .filtre_2, .filtre_3, .filtre_4{
    background-color: white;
    border: solid 1px rgb(173, 173, 173);
    border-radius: 30px;  
    padding-right: 30px;
}

.filtre_icone img{
    float: left;
    background-color: #DEEBFF;
    border-radius: 30px;
    padding: 10px;
    width: 25px;
    height: 22px;
    margin-right: 20px;
}


.info{
    display: flex;
    margin-top: 20px;
}

.info p{
    color: grey;
    font-size: 15px;
    padding-left: 10px;
}

.info img{
    position: relative;
    top: 8px;
    height: 15px;
    width: 15px;
    border:  1px solid grey;
    border-radius: 60px 60px;
    padding: 5px;
}