
                            /* Police */
@font-face {
    font-family: 'ralewayregular';
    src: url('police/raleway-regular-webfont.woff2') format('woff2'),
         url('police/raleway-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
                            /* Police */


{
    outline: solid 1px black;
}


                        /* Mise en page*/
body{
    font-family:ralewayregular, arial, Verdana, Geneva, Tahoma, sans-serif;
    background-color: #f2f2f2;
    margin: 0px;
}

#Logo, #banniere, section, .activite{
    margin: 30px 40px 30px 40px;
}
                        /* Mise en page */




                        /* Mise en page du header */
header{
    display:flex;
    justify-content: space-between;
    margin: 0px;
}

#Logo img{
    height: 60px;
}

nav{
    display: flex;
    list-style-type: none;
}


nav a{
    text-decoration: none;
    color: #0065fc;
    padding: 40px 50px;
}

nav a:hover{
    border-top: 10px solid #0065fc;
    border-width: 5px;
}

                        /* Mise en page du header */




                        /* Mise en page de la banniere */

#banniere h1{
    font-size: 20px;
    font-weight: 900px;
}

#banniere h2{
    font-size: 15px;
    font-weight: 200;
    color: rgb(92, 91, 91);
}

#banniere h2, #banniere h1{
    margin: 8px 0px 0px 0px;
}

.champ_recherche img{
    height: 15px;
    width: 10px;
    padding: 15px;
    border-radius: 15px 0px 0px 15px;
    background-color: rgba(206, 206, 206, 0.884);
}

.button{
    background:url(Image/0065fc.png);
    text-align: center;
    vertical-align: middle;
    color: white;
    padding: 15px;
    font-weight: 600;
    border-radius: 0px 15px 15px 0px;  
    text-decoration: none;
    font-size: 0.85em;
}

.champ_recherche{
    display: flex;
    margin-top: 12px;
}


.filtre{
    display: flex;
    grid-gap: 3em;
    margin-top: 20px;
    font-size: 12px;
}

.filtre_0, .filtre_1, .filtre_2, .filtre_3, .filtre_4{
    padding-right: 20px;
    display: flex;
}

.filtre a{
    text-decoration: none;
    color: black;
    font-weight: 700;
    align-items: center;
    margin:auto;
}

.filtre img{
    position:relative;
    right: 1.5px;
    height: 1.7em;
    width: 1.5em;
    padding: 10px;
    background-color: #deebff;
    border-radius: 30px;
}

.filtre_1, .filtre_2, .filtre_3, .filtre_4{
    border:  1px solid rgba(155, 155, 155, 0.541);
    border-radius: 55px 60px;
}

.info{
    display: flex;
    margin-top: 20px;
}

#banniere p{
    color: grey;
    font-size: 15px;
    padding-left: 10px;
}

.info img{
    position: relative;
    top: 8px;
    height: 15px;
    width: 15px;
    border:  1px solid grey;
    border-radius: 60px 60px;
    padding: 5px;
}
                        /* Mise en page de la banniere */
                        /* mise en page de la section Hébergements*/     
        /* mise en page d'article'*/ 
.section_hebergements{
     display:flex;
     grid-gap: 50px;
}
.section_hebergements h1{
    font-size: 20px;
    font-weight: 900px;
    
}
.section_hebergements h2{
    font-size: 16px;
    margin-left: 10px;
}
.section_hebergements p{
    font-size: 12px;
    margin-left: 10px;
    color:grey;
}
.etoile_hebergement img{
    height: 15px;
    position: relative;
    left: 18px;
}

.section_hebergements a{
    text-decoration: none;
    color: black;
}

article, aside{
    background-color: rgba(207, 207, 207, 0.548);
    border-radius:20px 20px;
    padding: 20px 40px 40px 40px;
}
.hebergement_ligne_1,.hebergement_ligne_2{
    display:flex;
    grid-gap: 40px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.hebergement_1, .hebergement_2, .hebergement_3, .hebergement_4,.hebergement_5, .hebergement_6{
    border-radius: 20px 20px;
    padding: 0px 5px 5px 5px;
    background-color: white;
    box-sizing: border-box;
    height: 300px;
    width: 380px;
}

.image_hotel img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    width: 600px;
    max-width: 100%;
    height: 200px;
    border-radius: 15px 20px 0px 0px;
}


.description_hebergement h2{
    margin: 20px 0px 0px 20px;
}
.description_hebergement p{
    margin: 4px 0px 10px 20px;
}

        /* mise en page d'article'*/ 
        /* mise en page d'aside'*/ 

.titre_aside{
    display: flex;
    justify-content: space-between;
}
.titre_aside img{
    height: 20px;
    margin-top: 22px;
}

.description_populaire h2{
    margin: 20px 0px 0px 20px;
}
.description_populaire p{
    margin: 10px 0px 0px 20px;
}

.populaire_1, .populaire_2, .populaire_3{
    display: flex;
    margin-top: 10px;
    margin-bottom: 60px;
    border-radius: 20px 20px;
    padding: 0px 5px 5px 5px;
    background-color: white;
    box-sizing: border-box;
    height: 180px;
    width: 380px;
}

.image_populaire img{
    
    padding: 5px 5px 0px 0px;
    width: 170px;
    max-width: 100%;
    height: 170px;
    border-radius: 20px 0px 0px 20px;
}

.etoile_populaire img{
    position: relative;
    top: 60px;
    left: 20px;
    height: 15px;
}

.etoile_populaire_2 img{
    position: relative;
    top: 65px;
    left: 20px;
    height: 15px;
}
        /* mise en page d'aside'*/ 
                        /* mise en page de la section Hébergements*/
                        /* mise en page de la section Activité*/
.activite h1{
    font-size: 20px;
}
.activite img{
    height: 150px;
    border-radius: 15px 15px 0px 0px;
}

.section_activite{
    margin-top: 70px;
    margin-bottom: 100px;
}

.activite{
    display: flex;
    margin:0px;
    grid-gap: 40px;
}

.activite p{
    padding: 0px 0px 20px 15px;
    font-weight: bold;
}

.activite_1, .activite_4{
    box-sizing:border-box;
    height: 550px;
    width: 440px;
    background-color:white;
    border-radius: 15px;
}
.activite_1 img, .activite_4 img{
    box-sizing:border-box;
    height: 500px;
    width: 1000px;
    max-width: 100%;
    background-color:white;
}

.activite_2{
    background-color:white;
    border-radius: 15px;
    height: 300px;
    width: 400px;
}
.activite_2 img{
    box-sizing:border-box;
    height: 250px;
    width: 400px;
    max-width: 100%;
    background-color:white;
}

.activite_3{
    margin-top: 50px;
    background-color:white;
    border-radius: 15px;
    height: 200px;
    width: 400px;
}

.activite_3 img{
    box-sizing:border-box;
    height: 150px;
    width: 400px;
    max-width: 100%;
    background-color:white;
}

.activite_5{
    background-color:white;
    border-radius: 15px;
    height: 250px;
    width: 400px;
}
.activite_5 img{
    box-sizing:border-box;
    height: 200px;
    width: 400px;
    max-width: 100%;
    background-color:white;
}

.activite_6{
    margin-top: 50px;
    background-color:white;
    border-radius: 15px;
    height: 250px;
    width: 400px;
}

.activite_6 img{
    box-sizing:border-box;
    height: 200px;
    width: 400px;
    max-width: 100%;
    background-color:white;
}
                        /* mise en page de la section Activité*/
                         /* mise en page du footer*/  
footer{
    display: flex; 
    padding-left: 50px;
    background-color: rgb(202, 202, 202);
    padding-bottom: 60px;
    grid-gap: 400px;
    padding-top: 30px;
}

footer a{
    display: flex;
    text-decoration: none;
    list-style-type: none;
    color:rgb(77, 77, 77);
    padding-top: 15px;
}

footer h1{
    font-size: 18px;
}

                         /* mise en page du footer*/                      
                        