
                            /* Police */
@font-face {
    font-family: 'ralewayregular';
    src: url('police/raleway-regular-webfont.woff2') format('woff2'),
         url('police/raleway-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
                            /* Police */

                            
                            
{
    outline: solid 1px black;
}


                        /* Mise en page*/
body{
    font-family:ralewayregular, arial, Verdana, Geneva, Tahoma, sans-serif;
    background-color: #f2f2f2;
    margin: 0px;
}

#Logo, #banniere, section, .activite{
    margin: 30px 50px 15px 40px;
}
                        /* Mise en page */




                        /* Mise en page du header */
header{
    display:flex;
    justify-content: space-between;
    margin: 0px;
}

#Logo img{
    height: 50px;
}

nav{
    display: flex;
}

nav{
    display: flex;
    list-style-type: none;
    padding: 43px 50px;
}

.nav_phone{
    flex-direction: row;
    display: flex;
}

.nav_2 a{
    color: black;
}

.nav_1 a {
    color: #0065fc;
}

.nav_3 a{
    font-weight: bold;
    color:#0065fc;
}
nav a{
    text-decoration: none;
    padding: 40px 50px;
}

nav a:hover{
    border-top: 10px solid #0065fc;
    border-width: 5px;
}

                        /* Mise en page du header */




                        /* Mise en page de la banniere */

#banniere h1{
    font-size: 20px;
}

#banniere h2{
    font-size: 15px;
    font-weight: 400px;
    color: rgb(92, 91, 91);
}

#banniere h2, #banniere h1{
    margin: 8px 0px 0px 0px;
}

.champ_recherche img{
    position: relative;
    border: 1px solid rgb(173, 173, 173);
    height: 18px;
    width: 14px;
    padding: 14px;
    border-radius: 15px 0px 0px 15px;
    background-color: rgba(206, 206, 206, 0.884);
}

.button{
    background:url(Image/0065fc.png);
    text-align: center;
    vertical-align: middle;
    color: white;
    padding: 15px;
    font-weight: 600;
    border-radius: 0px 15px 15px 0px;  
    text-decoration: none;
    font-size: 0.85em;
}

input{
    font-weight: bold;
    font-size: 15px;
    padding-left: 10px;
    border: 1px solid rgb(173, 173, 173)
}
.champ_recherche{
    display: flex;
    margin-top: 10px;
}

.filtre{
    display: flex;
    margin-top: 20px;
}
.filtre_icone{
    display: flex;
}

.filtre_0{
    margin-right: 30px;
    margin-top: 5px;
}

.filtre a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    display: flex;
}

.filtre_1, .filtre_2, .filtre_3{
    margin-right: 30px;
    border-radius: 20px 20px;
    border: 1px solid rgb(179, 179, 179);
    background-color: white;
    box-sizing: content-box;
    height: 35px;
    width: 180px;
}

.filtre_4{
    margin-right: 30px;
    border-radius: 20px 20px;
    border: 1px solid rgb(179, 179, 179);
    background-color: white;
    box-sizing: content-box;
    height: 35px;
    width: 230px;
}

.filtre_1 p, .filtre_2 p, .filtre_3 p, .filtre_4 p{
    position: relative;
    left: 20px;
    bottom: 7px
}

.filtre_1:hover,.filtre_2:hover,.filtre_3:hover,.filtre_4:hover{
    background-color: #DEEBFF;
}

.filtre_1 img, .filtre_2 img, .filtre_3 img, .filtre_4 img{
    float:inline-start;
    position: relative;
    bottom: 1px;
    right: 2px;
    width: 28px;
    background-color:#DEEBFF;
    max-width: 100%;
    height: 22px;
    border-radius: 20px;
    padding: 7px;
}

.info{
    display: flex;
    margin-top: 20px;
}

.info p{
    color: grey;
    font-size: 15px;
    padding-left: 10px;
}

.info img{
    position: relative;
    top: 8px;
    height: 15px;
    width: 15px;
    border:  1px solid grey;
    border-radius: 60px 60px;
    padding: 5px;
}
                        /* Mise en page de la banniere */
                        /* mise en page de la section Hébergements*/     
        /* mise en page d'article'*/ 
.section_hebergements{
     display:flex;
     grid-gap: 50px;
}
.section_hebergements h1{
    font-size: 20px;
    font-weight: 900px;
    
}
.section_hebergements h2{
    font-size: 16px;
    margin-left: 10px;
}
.section_hebergements p{
    font-size: 12px;
    margin-left: 10px;
    color:grey;
}
.etoile_hebergement img{
    height: 15px;
    position: relative;
    left: 18px;
}

.section_hebergements a{
    text-decoration: none;
    color: black;
}

article, aside{
    background-color: rgba(207, 207, 207, 0.548);
    border-radius:20px 20px;
    padding: 20px 40px 40px 40px;
}
.hebergement_ligne_1,.hebergement_ligne_2{
    display:flex;
    margin-top: 30px;
    margin-bottom: 30px;
}

.hebergement_1, .hebergement_2, .hebergement_3, .hebergement_4,.hebergement_5, .hebergement_6{
    border-radius: 20px 20px;
    padding: 0.5px 5px 5px 5px;
    background-color: white;
    box-sizing: border-box;
    height: 300px;
    width: 380px;
    margin-right: 40px;
}

.image_hotel img{
    display: block;
    margin: 5px auto 20px auto;
    width: 600px;
    max-width: 100%;
    height: 200px;
    border-radius: 15px 20px 0px 0px;
}


.description_hebergement h2{
    margin: 0px 0px 0px 20px;
}
.description_hebergement p{
    margin: 4px 0px 10px 20px;
}

        /* mise en page d'article'*/ 
        /* mise en page d'aside'*/ 

.titre_aside{
    display: flex;
    justify-content: space-between;
}
.titre_aside img{
    height: 20px;
    margin-top: 22px;
}

.description_populaire h2{
    margin: 20px 0px 0px 20px;
}
.description_populaire p{
    margin: 10px 0px 0px 20px;
}

.populaire_1 a , .populaire_2 a, .populaire_3 a{
    display: flex;
    margin-top: 10px;
    margin-bottom: 60px;
    border-radius: 20px 20px;
    padding: 0px 5px 5px 5px;
    background-color: white;
    box-sizing: border-box;
    height: 180px;
    width: 380px;
}

.image_populaire img{
    
    padding: 5px 5px 0px 0px;
    width: 170px;
    max-width: 100%;
    height: 170px;
    border-radius: 20px 0px 0px 20px;
}

.etoile_populaire img{
    position: relative;
    top: 60px;
    left: 20px;
    height: 15px;
}

.etoile_populaire_2 img{
    position: relative;
    top: 65px;
    left: 20px;
    height: 15px;
}
        /* mise en page d'aside'*/ 
                        /* mise en page de la section Hébergements*/
                        /* mise en page de la section Activité*/
.activite h1{
    font-size: 20px;
}

.activite img{
    height: 150px;
    border-radius: 15px 15px 0px 0px;
}

.section_activite{
    margin-top: 70px;
    margin-bottom: 100px;
}

.activite{
    display: flex;
    margin:0px;
    grid-gap: 45px;
}

.activite a{
    text-decoration: none;
}
.activite p{
    padding: 0px 0px 20px 15px;
    font-weight: bold;
    color: black;
}

.activite_1, .activite_4{
    box-sizing:border-box;
    height: 550px;
    width: 440px;
    background-color:white;
    border-radius: 15px;
}
.activite_1 img, .activite_4 img{
    box-sizing:border-box;
    height: 500px;
    width: 1000px;
    max-width: 100%;
    background-color:white;
}

.activite_2{
    background-color:white;
    border-radius: 15px;
    height: 300px;
    width: 400px;
}
.activite_2 img{
    box-sizing:border-box;
    height: 250px;
    width: 400px;
    max-width: 100%;
    background-color:white;
}

.activite_3{
    margin-top: 50px;
    background-color:white;
    border-radius: 15px;
    height: 200px;
    width: 400px;
}

.activite_3 img{
    box-sizing:border-box;
    height: 150px;
    width: 400px;
    max-width: 100%;
    background-color:white;
}

.activite_5{
    background-color:white;
    border-radius: 15px;
    height: 250px;
    width: 400px;
}
.activite_5 img{
    box-sizing:border-box;
    height: 200px;
    width: 400px;
    max-width: 100%;
    background-color:white;
}

.activite_6{
    margin-top: 50px;
    background-color:white;
    border-radius: 15px;
    height: 250px;
    width: 400px;
}

.activite_6 img{
    box-sizing:border-box;
    height: 200px;
    width: 400px;
    max-width: 100%;
    background-color:white;
}
                        /* mise en page de la section Activité*/
                         /* mise en page du footer*/  
footer{
    display: flex; 
    padding-left: 50px;
    background-color: rgba(207, 207, 207, 0.548);
    padding-bottom: 60px;
    grid-gap: 400px;
    padding-top: 30px;
}

footer a{
    display: flex;
    text-decoration: none;
    list-style-type: none;
    color:rgb(77, 77, 77);
    padding-top: 15px;
}

footer a:hover{
    text-decoration: underline;
}

footer h1{
    font-size: 18px;
}

                         /* mise en page du footer*/   
                         
                         


@media screen and (max-width: 1280px){

    #bloc_page{
        width: auto;
    }

    #logo img{
        position: absolute;
    }

    nav{
        flex-direction: column-reverse;
    }

    .nav_phone{
        display: flex;
        position: relative;
        right: 250px;
        top: 50px;
        padding-bottom: 10px;
        border-bottom: solid 4px rgb(212, 212, 212)
    }

    .nav_1 a{
        padding: 0px 80px 10px 80px;
        }

    .nav_2 a{
        padding: 0px 80px 10px 40px
    }

    .nav_phone a:hover{
        border-top: none;
        border-bottom: 4px solid #0065fc;
    }
    .nav_3 a:hover{
        border-top: none;
    }

    .nav_3 a{
        margin-left: 30px;
    }


    .filtre{
        width: auto;
        flex-direction: column;
    }

    .filtre_icone{
        display: inline-block;
    }

    .filtre_1 , .filtre_2, .filtre_3, .filtre_4{
        margin-top: 10px;
    }


    .section_hebergements{
        background-color: #F2F2F2;
        flex-direction: column;
    }


    section{
        margin: 0px;
    }

    article{
        background-color: #F2F2F2;
    }

    aside{
        width:auto;
        margin: 0px;
        border-radius: 0px;
    }

    .populaire_1 a , .populaire_2 a, .populaire_3 a{ 
        margin: 15px 0px 15px 5px;
        width: 400px;
        height: 150px;
    }
    .image_populaire img{ 
        height: 140px;
    }
    .etoile_populaire_2{
        position: relative;
        bottom: 20px;
    }

    .populaire_1 p , .populaire_2 p, .populaire_3 p{ 
        font-size: 15px;
    }

    article{
        order: 2;
    }

    .section_hebergements{
        margin-bottom: 0px;
    }

    .hebergement_ligne_1{
        flex-direction: column;
        grid-gap: 10px;
    }
    
    .hebergement_ligne_2{
        flex-direction: column;
        grid-gap: 10px;
    }

    .image_hotel img{
        height: 150px;
        margin-bottom: 8px;
    }

    .hebergement_1, .hebergement_2, .hebergement_3, .hebergement_4,.hebergement_5, .hebergement_6{
        height: 230px;
    }

    .section_activite{
        margin: 0px 20px 20px 40px;
    }

    .activite{
        flex-direction: column;
    }

    .activite_2, .activite_3, .activite_5, .activite_6{
        height: 230px;
        width: 380px;
    }

    .activite_1, .activite_4{
        height: 230px;
        width: 380px;
    }

    .activite_2 img, .activite_3 img, .activite_5 img, .activite_6 img{
        height: 180px;
        width: 380px;
        margin-bottom: 0px;
    }

    .activite_1 img, .activite_4 img {
        height: 180px;
        width: 420px;
        margin-bottom: 0px;
    }

    footer{
        flex-direction: column;
        grid-gap: 30px;
    }

}               
                        