#banniere{
    margin: 30px 50px 15px 40px;
}

.phone_button{
    visibility: hidden;
}

#banniere h1{
    font-size: 25px;
}

#banniere h2{
    font-size: 15px;
    color: rgb(92, 91, 91);
}

#banniere h2, #banniere h1{
    margin: 8px 0px 0px 0px;
}

.champ_recherche img{
    float: left;
    border: 1px solid rgba(207, 207, 207, 0.548);
    height: 20px;
    width: 14px;
    padding: 14px;
    border-radius: 15px 0px 0px 15px;
    background-color: rgba(207, 207, 207, 0.548);
}

.button{
    background-color: rgb(0,101,252);
    text-align: center;
    vertical-align: middle;
    color: white;
    padding: 15px;
    font-weight: 700;
    border-radius: 0px 15px 15px 0px;
    text-decoration: none;
    font-size: 15px;
}

.button:hover {
    box-shadow: 5px 0px 5px 0px rgba(0,0,0,0.24), 5px 0px 5px 0px rgba(0,0,0,0.19);
}

.button{
    transition: .3s;
 }

.button:active{
    color:white;
}
input{
    font-weight: bold;
    font-size: 15px;
    padding-left: 10px;
    border: 1px solid  rgba(207, 207, 207, 0.548);
}

.champ_recherche{
    display: flex;
    margin-top: 10px;
}

.filtre{
    display: flex;
    font-size: 14px;
    font-weight: bold;
    padding-top: 20px;
    grid-gap: 30px;
}

.filtre_0 p:hover{
    color: grey;
    transition: color 0.3s;
}

.filtre_0{
    text-decoration: none;
}

.filtre_1:hover, .filtre_2:hover, .filtre_3:hover, .filtre_4:hover{
    background-color: #DEEBFF;
}

.filtre_icone{
    display: flex;
    flex-wrap: wrap;
    grid-gap: 20px;
}

.filtre_icone a, .filtre_0 p{
    vertical-align: middle;
    text-decoration: none;
    color: black;
}

.filtre_1, .filtre_2, .filtre_3, .filtre_4{
    display: flex;
    background-color: white;
    border: solid 1px rgb(173, 173, 173);
    border-radius: 30px;
    padding-right: 30px;
}

.filtre_icone img{
    float: left;
    background-color: #DEEBFF;
    border-radius: 30px;
    padding: 15px;
    width: 20px;
    height: 15px;
    margin-right: 20px;
}

.info{
    display: flex;
    margin-top: 20px;
}

.info p{
    color: grey;
    font-size: 15px;
    padding-left: 10px;
}

.info img{
    position: relative;
    top: 8px;
    height: 15px;
    width: 15px;
    border:  1px solid grey;
    border-radius: 60px 60px;
    padding: 5px;
}


.filtre_icone a:hover {
    transform: scale(1.1);
}
.filtre_icone a{
    transition: .2s;
}





@media screen and (max-width: 767px){


    .button{
        display: none;
    }

    .phone_button img{
        visibility: visible;
        float: right;
        position: relative;
        right: 10px;
        border-radius: 15px;
        width: auto;
        background-color: #0065fc;
    }

    .champ_recherche{
        padding-top: 10px;
    }

    .filtre{
        flex-wrap: wrap;
    }

    .filtre_0{
        position: relative;
        top: 20px;
    }
}

@media screen and (min-width: 768px) and (max-width: 992px){


    .filtre{
        flex-wrap: wrap;
    }

    .filtre_0{
        position: relative;
        top: 10px;
    }
}