footer{
    display: flex;
    padding: 30px 0px 60px 50px;
    background-color: rgba(207, 207, 207, 0.548);
}

.about, .our_accomodations, .assistance {
    padding-right: 20%
}

footer a{
    display: flex;
    text-decoration: none;
    list-style-type: none;
    color:rgb(77, 77, 77);
    padding-top: 15px;
}

footer a:hover{
    opacity: .5;
    transition: .3s;
}

footer h1{
    font-size: 18px;
}


@media screen and (max-width: 767px){

 
    footer{
        flex-wrap: wrap;
        grid-gap: 40px;
    }

    .about,.our_accomodations {
        padding-right: 10%;
    }
}

@media screen and (max-width: 605px){

    footer{
       flex-direction: column;
    }

}
