section{
   margin: 30px 50px 15px 40px;
}
article, aside{
   background-color: rgba(207, 207, 207, 0.548);
   border-radius: 20px 20px;
   box-sizing: border-box;
   padding: 20px 40px 20px 40px;
}
article{
   width: 72%;
}
aside{
   width: 25%;
}
article a:hover, aside a:hover, .section_activite p:hover{
   color:#0065fc;
   transition: color .3s;
}
.section_accomodation h1{
   font-size: 20px;
   font-weight: bold;
}
.section_accomodation h2{
   font-size: 15px;
   margin-bottom: 0px
}
.section_accomodation p{
   font-size: 12px;
   color:grey;
   margin-top: 1%;
   margin-bottom: 1%;
}
.section_accomodation a{
   text-decoration: none;
   color: black;
}
.description_accomodation{
   padding: 1% 2% 1% 2%;
}
.etoile_accomodation{
   height: 15px;
   margin-bottom: 2%; 
} 

.section_accomodation{
   display: flex;
   gap: 3%; 
}

.accomodation{
   display: flex;
   flex-wrap: wrap;
   column-gap: 3.5%;
   row-gap: 50px;
}

.accomodation a {
   border-radius: 20px 20px;
   padding: 0.5px 5px 0px 5px;
   box-shadow: 5px 5px 5px rgb(168, 168, 168);
   background-color: white;
   box-sizing: border-box;
   width: 31%; 
} 

.image_hotel_1, .image_hotel_2,.image_hotel_3, .image_hotel_4,.image_hotel_5, .image_hotel_6{
   height: 180px;
   max-width: 100%;
   margin-top: 1%;
   border-radius: 15px 20px 0px 0px;
}

.image_hotel_1{
   background: url("image/accomodation/accomodation_1_large.jpg") no-repeat;
   background-size: cover;
}
.image_hotel_2{
   background: url("image/accomodation/accomodation_2_large.jpg") no-repeat;
   background-size: cover;
}
.image_hotel_3{
   background: url("image/accomodation/accomodation_3_large.jpg") no-repeat;
   background-size: cover;
}
.image_hotel_4{
   background: url("image/accomodation/accomodation_4_large.jpg") no-repeat;
   background-size: cover;
}
.image_hotel_5{
   background: url("image/accomodation/accomodation_5_large.jpg") no-repeat;
   background-size: cover;
}
.image_hotel_6{
   background: url("image/accomodation/accomodation_6_large.jpg") no-repeat;
   background-size: cover;
} 


article a:hover {
   transform: scale(1.05);
   box-shadow: -1px 2px 10px 3px rgba(0, 101, 252, 0.5) inset;
}
article a{
   transition: .3s;
} 





.titre_aside{
    display: flex;
    justify-content: space-between;
}
.titre_aside img{
    height: 20px;
    margin-top: 22px;
}

.description_populaire{
   margin: 0px 0px 0px 10px;
}

.description_populaire{
   flex-grow: 1;
}

.image_populaire_1, .image_populaire_2, .image_populaire_3{
   padding: 5px 5px 0px 0px;
   height: 150px;
   min-width: 45%;
   width: 45%;
   border-radius: 20px 0px 0px 20px;
   border-radius: 20px 0px 0px 20px;
} 

.card2{
   display: flex;
   background-color: white;
   box-sizing: border-box;
   width: 100%;   
   box-shadow: 5px 5px 5px rgb(168, 168, 168);
   border-radius: 20px 20px;
   padding: 5px 5px 5px 5px;
   margin-bottom: 60px;
}

.etoile_populaire img{
   margin-top: 35%;
    height: 15px;
}

.etoile_populaire2 img{
   margin-top: 25%;
    height: 15px;
}

.image_populaire_1{
   background: url("image/accomodation/popular_1_large.jpg") no-repeat;
   background-size:cover;
}

.image_populaire_2{
   background:url("image/accomodation/popular_2_large.jpg") no-repeat;
   background-size: cover;
}
.image_populaire_3{
   background: url("image/accomodation/popular_3_large.jpg") no-repeat;
   background-size: cover;
}


@media screen and (max-width: 768px){

   .section_accomodation{
      flex-direction: column;
      margin: 0px;
   }

   aside{
      width: 100%;
      border-radius: 0;
   }
   
   article{
      background-color: #f2f2f2;
      order: 2;
      width: 100%
   }

   .accomodation a {
      width: 100%; 
   } 
}             