section{
   margin: 30px 50px 15px 40px;
}
.article, aside{
   background-color: rgba(207, 207, 207, 0.548);
   border-radius: 20px 20px;
   box-sizing: border-box;
   padding: 20px 40px 20px 40px;
}
.article{
   width: 72%;
}
aside{
   width: 25%;
}
.article a:hover, aside a:hover, .section_activite p:hover{
   color:#0065fc;
   transition: color .3s;
}
.section_accomodation h2{
   font-size: 20px;
   font-weight: bold;
}
.section_accomodation h3{
   font-size: 17px;
   margin-bottom: 0px
}
.section_accomodation p{
   font-size: 12px;
   color:grey;
   margin-top: 1%;
   margin-bottom: 1%;
}

.section_accomodation a{
   text-decoration: none;
   color: black;
}

.section_accomodation h4{
   padding-top: 20px;
}
.description_accomodation{
   padding: 1% 2% 1% 2%;
}
.etoile_accomodation{
   height: 15px;
   margin-bottom: 2%;
}

.section_accomodation{
   display: flex;
   gap: 3%;
}

.accomodation{
   display: flex;
   flex-wrap: wrap;
   column-gap: 3.5%;
   row-gap: 50px;
}

.accomodation a {
   border-radius: 20px 20px;
   padding: 0.5px 5px 0px 5px;
   box-shadow: 5px 5px 5px rgb(168, 168, 168);
   background-color: white;
   box-sizing: border-box;
   width: 31%;
}

.image_hotel_1, .image_hotel_2,.image_hotel_3, .image_hotel_4,.image_hotel_5, .image_hotel_6{
   height: 200px;
   max-width: 100%;
   margin-top: 1%;
   border-radius: 15px 20px 0px 0px;
}

.image_hotel_1, .image_hotel_2,.image_hotel_3, .image_hotel_4,.image_hotel_5, .image_hotel_6{
   position: relative;
   overflow: hidden;
}

.image_hotel_1 img, .image_hotel_2 img,.image_hotel_3 img, .image_hotel_4 img,.image_hotel_5 img, .image_hotel_6 img{
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   min-width: 100%;
   min-height: 100%;
   max-height: 150%;
   max-width: 150%;
}

.accomodation a:hover {
   transform: scale(1.05);
   box-shadow: 8px 8px 8px 0px rgba(0,0,0,0.24), 8px 8px 8px 0px rgba(0,0,0,0.19);
}
.accomodation a{
   transition: .3s;
}





.titre_aside{
    display: flex;
    justify-content: space-between;
}
.titre_aside img{
    height: 20px;
    margin-top: 22px;
}

.description_populaire{
   margin: 0px 0px 0px 10px;
   display: flex;
   flex-direction: column;
}
.etoile_populaire{
   margin-top: auto;
}

.description_populaire{
   flex-grow: 1;
}

.image_populaire_1, .image_populaire_2, .image_populaire_3{
   padding: 5px 5px 0px 0px;
   height: 170px;
   min-width: 45%;
   width: 45%;
   border-radius: 20px 0px 0px 20px;
   border-radius: 20px 0px 0px 20px;
}

.card2{
   display: flex;
   background-color: white;
   box-sizing: border-box;
   width: 100%;
   box-shadow: 5px 5px 5px rgb(168, 168, 168);
   border-radius: 20px 20px;
   padding: 5px 5px 5px 5px;
   margin-bottom: 60px;
}

.etoile_populaire img{
    height: 15px;
}

.etoile_populaire2 img{
    height: 15px;
}

.image_populaire_1, .image_populaire_2, .image_populaire_3{
   position: relative;
   overflow: hidden;
}

.image_populaire_1 img, .image_populaire_2 img, .image_populaire_3 img{
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   min-width: 100%;
   min-height: 100%;
   max-height: 150%;
   max-width: 150%;
}

aside a:hover {
   transform: scale(1.05);
   box-shadow: 8px 8px 8px 0px rgba(0,0,0,0.24), 8px 8px 8px 0px rgba(0,0,0,0.19);
}
aside a{
   transition: .3s;
}








@media screen and (max-width: 767px){

   .section_accomodation{
      flex-direction: column;
      margin: 0px;
   }

   .image_populaire_1, .image_populaire_2, .image_populaire_3{
      height: 230px;
   }

   aside{
      width: 100%;
      border-radius: 0;
   }

   .article{
      background-color: #f2f2f2;
      order: 2;
      width: 100%
   }

   .accomodation a {
      width: 100%;
   }
}

@media screen and (min-width: 768px) and (max-width: 991px){


   .section_accomodation{
      flex-direction: column-reverse;
      justify-items: center;
      margin: 0px;
      gap: 20px;
   }

   aside{
      width : 100%;
      border-radius: 0;
   }

    .popular{
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
   }

   .image_populaire_1, .image_populaire_2, .image_populaire_3{
      height: 250px;
   }

   .popular a{
      width: 100%;
   }

   .accomodation{
      gap: 65px;
   }
   .article{
      width: 100%;
      padding-left: 40px;
      padding-right: 0px;
      background-color: #f2f2f2;
   }

   .accomodation a{
      width: 42.5%;
   }
}

@media screen and (min-width: 992px) and (max-width: 1199px){


   aside{
      width: 35%;
   }

   .article{
      width: 70%;
   }

   .accomodation{
      column-gap: 10%;
   }

   .accomodation a {
      width: 45%;
   }
}