
{
    outline: solid 1px black;
}

@font-face {
    font-family: 'ralewayregular';
    src: url('police/raleway-regular-webfont.woff2') format('woff2'),
         url('police/raleway-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body{
    font-family:ralewayregular, arial, Verdana, Geneva, Tahoma, sans-serif;
    background-color: #f2f2f2;
    margin: 0px;
}

