
*{
    outline: solid 1px black;
}


@font-face {
    font-family: 'ralewayregular';
    src: url('police/raleway-regular-webfont.woff2') format('woff2'),
         url('police/raleway-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

                            /* Police */


                            
                        /* Mise en page*/
body{
    font-family:ralewayregular, arial, Verdana, Geneva, Tahoma, sans-serif;
    background-color: #f2f2f2;
    margin: 0px;
}

#banniere, section, .activite{
    margin: 30px 50px 15px 40px;
}
                        /* Mise en page*/




                        /* Responsive téléphone*/
/* @media screen and (max-width: 821px){

    #bloc-page{
        width: auto;
    }



    .section_hebergements{
        background-color: #F2F2F2;
        flex-direction: column;
    }

    

    section{
        margin: 0px;
    }

    article{
        background-color: #F2F2F2;
    }

    aside{
        width:auto;
        margin: 0px;
        border-radius: 0px;
    }

    .populaire_1 a , .populaire_2 a, .populaire_3 a{ 
        margin: 15px 0px 15px 0px;
    }
    .image_populaire img{ 
        height: 140px;
    }

    .populaire_1 p , .populaire_2 p, .populaire_3 p{ 
        font-size: 15px;
    }

    article{
        order: 2;
        background-color: white;
    }

    .section_hebergements{
        margin-bottom: 0px;
    }

    .hebergement_ligne_1{
        flex-direction: column;
        grid-gap: 10px;
    }
    
    .hebergement_ligne_2{
        flex-direction: column;
        grid-gap: 10px;
    }

    .image_hotel img{
        height: 150px;
        margin-bottom: 8px;
    }

    .hebergement_1, .hebergement_2, .hebergement_3, .hebergement_4,.hebergement_5, .hebergement_6{
        height: 230px;
    }

    .section_activite{
        margin: 0px 20px 20px 40px;
    }

    .activite{
        flex-direction: column;
    }

    .activite_2, .activite_3, .activite_5, .activite_6{
        height: 230px;
        width: 380px;
    }

    .activite_1, .activite_4{
        height: 230px;
        width: 380px;
    }

    .activite_2 img, .activite_3 img, .activite_5 img, .activite_6 img{
        height: 180px;
        width: 380px;
        margin-bottom: 0px;
    }

    .activite_1 img, .activite_4 img {
        height: 180px;
        width: 420px;
        margin-bottom: 0px;
    }

}               
                         */